body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 20px;
}
.graph {
    height: 470px;
    margin-bottom: 10px;
    /*background: #4b4b4b;*/
    overflow: hidden;
}
.graph-nav {
    height: 57px;
    background: #ffffff;
    overflow: hidden;
}
.graph-nav, .graph {
    width: 100%;
    position: relative;

}
.graph-switches {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 22px 0;
}
.graph svg, .graph-nav svg {
    width: 100%;
    height: 100%;
    position: absolute;
}
H1 {
    margin: 20px
}
.navWindow {
    border: solid #DDEAF3;
    border-width: 1.5px 6px;
    position: absolute;
    height: 100%;
    box-sizing: border-box;
}

.navEar {
    background: rgba(232, 243, 249, 0.62);
    position: absolute;
    top: 0;
    bottom: 0;
}



.pcg-nav__move-control, .pcg-nav__expand-control {
    position: absolute;
    top: -4px;
    bottom: -4px;
    width: 100px;
}
.pcg-nav__expand-control {
    cursor: ew-resize;
    width: 200px;
}
.pcg-nav__move-control {
    cursor: move;
}
.pcg-checkbox-wrapper {
    position: relative;
    flex: none;
    display: flex;
    align-items: center;
    margin: 0 21px 21px 0;
    border: 1px solid #e6ecf0;
    border-radius: 2em;
    padding: 7px 18px 7px 10px;
    color: #43484B;
    cursor: pointer;
}

.pcg-checkbox__input {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.pcg-checkbox__img-wrapper {
    position: relative;
    margin-right: 12px;
}

.pcg-checkbox__img-wrapper::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 50%;
    transition: width 0.3s ease, height 0.3s ease;
}

.pcg-checkbox__img {
    display: block;
    width: 34px;
    height: 34px;
}

.pcg-checkbox__input:checked + .pcg-checkbox__img-wrapper::after {
    width: 0;
    height: 0;
}

.pcg-y-axis {
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ECF0F3;
    height: 0;
    transition: top, opacity ease-in 0.1s;
}
.pcg-y-axis-label {
    position: absolute;
    font-size: 15px;
    left: 1px;
    color: #96A2AA;
    text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white;
    transition: bottom, opacity ease-in 0.1s;
    opacity: 0.3;
}
.pcg-y-axis.hide, .pcg-y-axis-label.hide {
    opacity: 0;
}
.pcg-y-axis.visible, .pcg-y-axis-label.visible {
    opacity: 1;
}
img {
    position: absolute;
    top: -140px;
    left: -12px;
    z-index: -1;
}
.title {
    font-size: 24px;
    font-weight: bold;
    margin: 4px 6px;
}
.pcg-tooltip {
    position: absolute;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 #b9b0b0;
    padding: 8px 14px;
    pointer-events: none;
    display: none;
}
.pcg-tooltip__date {
    font-size: 17px;
    font-weight: bold;
}
.pcg-tooltip__info {
    display: flex;
}
.pcg-tooltip__info-item__count {
    font-weight: bold;
    font-size: 22px;
    margin: 11px 0 0;
}
.pcg-tooltip__info-item {
    flex: none;
    font-size: 15px;
    padding-right: 27px;
}
.pcg-tooltip__info .pcg-tooltip__info-item:last-child {
    padding-right: 0;
}

.pcg-tooltip__vertical-slice {
    position: absolute;
    top: 0;
    bottom: 40px;
    border-left: 2px solid #ECF0F3;
    display: none;
}
.pcg-x-axis-label {
    position: absolute;
    bottom: 10px;
    font-size: 15px;
    color: #96A2AA;
    white-space: nowrap;
    transform: translateX(-50%)
}

.graph-mode-switch {
    font-size:30px
}

.night .title {color: #fff;}
.night .graph-nav {background: #212f3f}
.night .navWindow {border-color: rgba(91, 107, 127, 0.9)}
.night .navEar {border-color: #250; background-color: rgba(91, 107, 127, 0.4)}
.night .pcg-checkbox-wrapper {border-width: 2px;border-color: #344658; color:#fff}
.night .pcg-checkbox__img-wrapper::after {background-color: #8ee}
.night .pcg-y-axis {border-bottom-color: rgba(91, 107, 127, 0.3)}
.night .pcg-y-axis-label, .night .pcg-x-axis-label {color: #5b6b7f; text-shadow: 2px 2px 0 #213040;}
.night .graph-mode-switch {color: #1891ff}
.night .pcg-tooltip {background-color: #1a2837; box-shadow: none;}
.night .pcg-tooltip__date {color: #fff}
.night .pcg-tooltip__vertical-slice {border-color: rgba(91, 107, 127, 0.9)}
.night {background: #213040}
/*.night .pcg-checkbox__img-wrapper {position: relative; width: 28px; height: 28px; background-color: #fff; border-radius: 50%; overflow: hidden;}*/
/*.night .pcg-checkbox__img-wrapper svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}*/
.night .pcg-checkbox__img-wrapper::after {
    /*width: 24px;*/
    /*height: 24px;*/
    /*background-color: #213040;*/
}
.night .pcg-y-axis-label {
    color: #96A2AA;
    text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white;
}