body {
    margin: 0;
    padding: 0;
    font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-size: 20px;

}
.graph {
    height: 285px;
    margin-bottom: 10px;
}

.graph {
    height: 418px;
}


.graph-nav {
    height: 50px;
    background: #ffffff;
    border-radius: 30px;
}
.graph {
    margin: 0 -20px;
}
.graph-nav, .graph {
    position: relative;
}
.graph-switches {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 22px 0;
}

.graph svg, .graph canvas, .graph-nav svg {
    width: 100%;
    height: 100%;
    position: absolute;
}
.graph svg, .graph canvas {
    height: 418px;
}
H1 {
    margin: 20px
}
.navWindow {
    border: solid #DDEAF3;
    border-width: 1.5px 6px;
    position: absolute;
    height: 100%;
    box-sizing: border-box;
}

.navEar {
    background: rgba(232, 243, 249, 0.62);
    position: absolute;
    top: 0;
    bottom: 0;
}

.navEar-left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.navEar-right {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.pcg-nav__move-control, .pcg-nav__expand-control {
    position: absolute;
    top: -4px;
    bottom: -4px;
    width: 100px;
}
.pcg-nav__expand-control {
    cursor: ew-resize;
    width: 200px;
}
.pcg-nav__move-control {
    cursor: move;
}
.pcg-checkbox-wrapper {
    position: relative;
    flex: none;
    display: flex;
    align-items: center;
    margin: 0 8px 10px 0;
    border: 2px solid #e6ecf0;
    border-radius: 2em;
    padding: 12px 29px 14px 29px;
    font-size: 19px;
    line-height: 20px;
    color: #43484B;
    cursor: pointer;
}

.error-checkbox + .pcg-checkbox__img-wrapper + .pcg-checkbox__text-wrapper {
    animation: shake 0.6s infinite;
}

.pcg-checkbox__input {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.pcg-checkbox__img-wrapper {
    position: absolute;
    top: 15px;
    left: 14px;
    flex: none;
    transform: scale(0);
    transition: all 0.3s ease;
}

.pcg-checkbox__img {
    display: block;
    width: 18px;
    height: 16px;
}

.pcg-checkbox__img svg {
    display: block;
    fill: #fff;
}

.pcg-checkbox__text-wrapper {
    flex: none;
    transition: margin 0.3s ease;
}

.pcg-checkbox__input:checked + .pcg-checkbox__img-wrapper {
    transform: scale(1);
}

.pcg-checkbox__input:checked + .pcg-checkbox__img-wrapper + .pcg-checkbox__text-wrapper {
    margin-left: 10px;
    margin-right: -10px;
}

.pcg-y-axis {
    pointer-events: none;
    position: absolute;
    left: 20px;
    right: 20px;
    border-bottom: 1px solid #182d3b0a;
    height: 0;
    transition: top, opacity ease-in 0.1s;
}
.pcg-y-axis-label {
    left: 21px;
}
.pcg-y-axis.hide, .pcg-y-axis-label.hide, .pcg-x-axis-label.hide {
    opacity: 0;
}
.pcg-y-axis.visible, .pcg-y-axis-label.visible, .pcg-x-axis-label.visible {
    opacity: 1;
}

.pcg-x-axis-label {
    bottom: 10px;
    transform: translateX(-50%);
}
.pcg-x-axis-label, .pcg-y-axis-label {
    pointer-events: none;
    position: absolute;
    font-size: 15px;
    color: #96A2AA;
    /*text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white;*/
    white-space: nowrap;
    transition: bottom, left, opacity ease-in 0.1s;
    opacity: 0.3;
}

img {
    position: absolute;
    top: -140px;
    left: -12px;
    z-index: -1;
}
.title {
    font-size: 20px;
    font-weight: bold;
    margin: 4px 6px 20px;
}
.pcg-tooltip {
    position: absolute;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 #b9b0b0;
    padding: 8px 14px;
    pointer-events: none;
    display: none;
}
.pcg-tooltip__date {
    font-size: 12px;
    font-weight: bold;
}
.pcg-tooltip__info {
    display: flex;
}
.pcg-tooltip__info-item__count {
    font-weight: bold;
    font-size: 14px;
    margin: 11px 0 0;
}
.pcg-tooltip__info-item {
    flex: none;
    font-size: 10px;
    padding-right: 27px;
}
.pcg-tooltip__info .pcg-tooltip__info-item:last-child {
    padding-right: 0;
}

.pcg-tooltip__vertical-slice {
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 40px;
    border-left: 2px solid #182d3b0a;
    display: none;
}
.graph-mode-switch {
    font-size:22px;
    text-align: center;
    cursor: pointer;
    color: #108BE3;
}
circle {
    fill: #fff;
}
.night circle {
    fill: #212f3f
}
.night .title {
    color: #fff;
}
.night .graph-nav {
    background: #212f3f;
}
.night .navWindow {
    border-color: rgba(91, 107, 127, 0.9);
}
.night .navEar {
    border-color: #250;
    background-color: rgba(25, 37, 52, 0.7);
}
.night .pcg-checkbox-wrapper {
    border-color: #344658;
    color:#fff;
    /*margin: 0 27px 25px 0;*/
}
.night .pcg-y-axis {
    border-bottom-color: rgba(91, 107, 127, 0.3);
}
.night .pcg-y-axis-label, .night .pcg-x-axis-label {
    color: #5b6b7f;
    text-shadow: 2px 2px 0 #213040;
}
.night .graph-mode-switch {
    color: #439AD9;
}
.night .pcg-tooltip {
    background-color: #1a2837;
    box-shadow: none;
}
.night .pcg-tooltip__date {
    color: #E5EFF5;
}
.night .pcg-tooltip__vertical-slice {
    border-color: rgba(91, 107, 127, 0.9);
}
.night {
    background: #213040;
}





path {
    transition: opacity ease-in 0.3s;
}
path.hidden {
    opacity: 0;
}
path {
    transition: transform ease-in 0.3s;
}
.graph-holder {
    padding: 20px 20px 40px 20px;
    position: relative;
    overflow-x: hidden;
    border-top: 1px solid #ebf4ff;
}


.graph-holder {
    box-sizing: border-box;
    position: relative;
    /*margin-bottom: 64px;*/
    width: 100%;
    margin: 0 auto 32px auto;
    max-width: 500px;
}

@media (min-width: 748px) {
    .graph-holder {
        width: 50%;
        float: left;
    }
}

@media (min-width: 1004px) {
    .graph-holder {
        width: 33%;
    }
}



.credit {
    padding: 30px
}
.article__open, .article__show {
    cursor: pointer;
    display: inline-block;
    color: #1891ff;
    font-size: 25px;
    margin: 30px;
    border-bottom: 1px dashed;
}
.article {
    display: none;
    padding: 30px;
}
.article.visible {
    display: block;
}

.pcg-yAxisLabelsStorage, .pcg-xAxisLabelsStorage, .pcg-yAxisStorage {
    display: none;
}

@keyframes shake {
    from, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-3px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(3px, 0, 0);
    }
}